# SIT742: Modern Data Science 
**(Assessment Task 01: Wine Rating Data Exploration)**

---
- Materials in this module include resources collected from various open-source online repositories.
- You are free to use, change and distribute this package.

Prepared by **SIT742 Teaching Team**


---

**Student Information:** Please fill your information below

- Name: Shrutik Yogeshchandra Panchal
- Student ID: 218412482
- Email: sypanchal@deakin.edu.au

---

# Part 0. Data Files

## 0.1 Download Data

In [1]:
# installing wget if not present
!pip install wget

Requirement already satisfied: wget in c:\program files (x86)\python37-32\lib\site-packages (3.2)

In [2]:
#--------------------------------------------------------------------------------------------------------------------------
#--------------------------------------------------------------------------------------------------------------------------
# importing required libraries
import wget
import numpy as np
import json
import pandas as pd
import matplotlib.pyplot as plt
#--------------------------------------------------------------------------------------------------------------------------
#--------------------------------------------------------------------------------------------------------------------------
# Downloading Required data into directory
link_to_data = 'https://github.com/tulip-lab/sit742/raw/master/Assessment/2019/data/wine.json'
DataSet = wget.download(link_to_data)

link_to_data = 'https://github.com/tulip-lab/sit742/raw/master/Assessment/2019/data/stopwords.txt'
DataSet = wget.download(link_to_data)
#--------------------------------------------------------------------------------------------------------------------------
#--------------------------------------------------------------------------------------------------------------------------

100% [................................................................................] 4158 / 4158

In [3]:
#--------------------------------------------------------------------------------------------------------------------------
# Listing current directory contents
!ls
#--------------------------------------------------------------------------------------------------------------------------

'ls' is not recognized as an internal or external command,
operable program or batch file.

## 0.2 Load Data

In [4]:
#--------------------------------------------------------------------------------------------------------------------------
# choosing wine.json file for analysis
file = '/Data/wine.json'
#--------------------------------------------------------------------------------------------------------------------------

In [5]:
#--------------------------------------------------------------------------------------------------------------------------
# Reading Wine file
with open(file, "r") as wfile:
    wineData = json.load(wfile) #Decoding and saving in mentioned variable
#--------------------------------------------------------------------------------------------------------------------------
# Converting data into python panda dataframe
wData = pd.DataFrame(wineData)
#--------------------------------------------------------------------------------------------------------------------------
# Checking NaN values in points/price columns that need to be removed

count=0 # counter

# Looping through each row of the data to check their values
for index, row in wData.iterrows(): 
    if pd.isna(row["points"]) or pd.isna(row["price"]): #checking values of both the columns at row response
        count = count + 1
#--------------------------------------------------------------------------------------------------------------------------
print("Total number of invalid values in columns price/points are: ", count)
print("Total Data without removing the Invalid rows from price/points columns: ", len(wData))
#--------------------------------------------------------------------------------------------------------------------------
# Removing all the rows where either points or price contains the invalid values
wData = wData.dropna(subset = ["points","price"])
print("Total Data after removing the Invalid rows from price/points columns: ", len(wData))
#--------------------------------------------------------------------------------------------------------------------------

Total number of invalid values in columns price/points are:  8996
Total Data without removing the Invalid rows from price/points columns:  129971
Total Data after removing the Invalid rows from price/points columns:  120975

# Part 1: numeric anaysis

## 1.1 Explore the data distribution for each column.

In [6]:
#--------------------------------------------------------------------------------------------------------------------------
# Dataset Overview
print("Overview of the Dataset: ")
wData.info()
print("\n\n")
#--------------------------------------------------------------------------------------------------------------------------
# Columnwise detail information
for column in list(wData):
    print(wData[column].describe(), "\n\n") # Columnwise description printing
#--------------------------------------------------------------------------------------------------------------------------

Overview of the Dataset:
<class 'pandas.core.frame.DataFrame'>
Int64Index: 120975 entries, 1 to 129970
Data columns (total 13 columns):
country                  120916 non-null object
description              120975 non-null object
designation              86196 non-null object
points                   120975 non-null object
price                    120975 non-null float64
province                 120916 non-null object
region_1                 101400 non-null object
region_2                 50292 non-null object
taster_name              96479 non-null object
taster_twitter_handle    91559 non-null object
title                    120975 non-null object
variety                  120974 non-null object
winery                   120975 non-null object
dtypes: float64(1), object(12)
memory usage: 7.4+ MB



count     120916
unique        42
top           US
freq       54265
Name: country, dtype: object


count                                                120975
unique                                               111567
top       Stalky aromas suggest hay and green herbs, wit...
freq                                                      3
Name: description, dtype: object


count       86196
unique      35776
top       Reserve
freq         1980
Name: designation, dtype: object


count     120975
unique        21
top           88
freq       16014
Name: points, dtype: object


count    120975.000000
mean         35.363389
std          41.022218
min           4.000000
25%          17.000000
50%          25.000000
75%          42.000000
max        3300.000000
Name: price, dtype: float64


count         120916
unique           422
top       California
freq           36104
Name: province, dtype: object


count          101400
unique           1204
top       Napa Valley
freq             4475
Name: region_1, dtype: object


count             50292
unique               17
top       Central Coast
freq              10975
Name: region_2, dtype: object


count          96479
unique            19
top       Roger Voss
freq           20172
Name: taster_name, dtype: object


count          91559
unique            15
top       @vossroger
freq           20172
Name: taster_twitter_handle, dtype: object


count                                                120975
unique                                               110638
top       Gloria Ferrer NV Sonoma Brut Sparkling (Sonoma...
freq                                                     11
Name: title, dtype: object


count         120974
unique           697
top       Pinot Noir
freq           12787
Name: variety, dtype: object


count         120975
unique         15855
top       Testarossa
freq             217
Name: winery, dtype: object

## 1.2 Find the 10 varieties of wine which receives the highest number of  reviews

In [7]:
#--------------------------------------------------------------------------------------------------------------------------
# Getting counts and extracting only top 10 variety names as value_counts return sorted output
wData_wine_freq = wData["variety"].value_counts()[:10]
print("10 Varieties of wine with highest number of reviews:\n", wData_wine_freq)
#--------------------------------------------------------------------------------------------------------------------------

10 Varieties of wine with highest number of reviews:
 Pinot Noir                  12787
Chardonnay                  11080
Cabernet Sauvignon           9386
Red Blend                    8476
Bordeaux-style Red Blend     5340
Riesling                     4972
Sauvignon Blanc              4783
Syrah                        4086
Ros√©                         3262
Merlot                       3062
Name: variety, dtype: int64

## 1.3 Find varieties of wine having the average price less than 20, with the average pointsat least 90

In [8]:
#--------------------------------------------------------------------------------------------------------------------------
print("Wine varieties with average price less than 20 and average points at least 90 are as follows: ")
# interating by each wine variety
for variet in list(wData["variety"].unique()):    
    data_check = wData[(wData.variety == variet)] # subseting data by variety
    if (data_check.price.mean() < 20 and pd.to_numeric(data_check.points).mean() >= 90): # Applying given filters or conditions
        print(variet) # printing the wine variety that meets the given conditions
#--------------------------------------------------------------------------------------------------------------------------

Wine varieties with average price less than 20 and average points at least 90 are as follows:
Tinta Cao
Blauburgunder
Shiraz-Malbec
Roussanne-Grenache Blanc
Kotsifali
Caprettone
Ondenc

## 1.4 Build statistic table

In [9]:
#--------------------------------------------------------------------------------------------------------------------------
# Defining DataFrame as per requirement with given 4 columns
statisticByStateData = pd.DataFrame(columns=["Country", "Variety", "AvgPoint", "AvgPrice"])
#--------------------------------------------------------------------------------------------------------------------------
# Iterating through each country
for cntry in list(wData['country'].unique()):
    fData = wData[(wData.country == cntry)] # subseting data by country
    if not(fData["variety"].empty): # checking if data cell is empty or not
        wine_name = fData["variety"].value_counts().idxmax() # getting variety name
        # adding row to dataframe if conditon is true
        statisticByStateData = statisticByStateData.append({"Country": cntry, "Variety": wine_name, 
                                                            "AvgPoint": round(pd.to_numeric(fData.points).mean(),2),
                                                            "AvgPrice": round(fData.price.mean(),2)}, ignore_index=True)

#print(statisticByStateData)
#--------------------------------------------------------------------------------------------------------------------------

In [10]:
# save your table to 'statisticByState.csv'
statisticByStateData.to_csv('statisticByState.csv', 
            encoding='utf-8', 
            index=False, 
            header=True)

## 1.5 Recommendations


Based on the analysis, which country/countries would you recommend *HOTEL TULIP* to source wine from? Pleas state your reasons.

---

Your Answer: Hotel TULIP should source wine from India, Bulgaria and China. Reasons are as follow.

- There are 42 countries in file hence consider top 5% to recommend which equal to 2-3 countries to recommend
- Average of AvgPrice is around 26.6 and Average of AvgPoint is around 87.7
- Hence after applying filters in generated CSV file top 3 countries with highest points and least price are
- India, Bulgaria and China
- Hence, this denots that compared to cheaper price these contries are good at wine making based on Points received
---